@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewpoint" content="width=device-width" />
    <title>CommentAdd</title>
</head>
<body>
    <form method="post">
        <input type="submit" value="Giriş Yap"/>
    </form>
</body>
</html>